body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.6rem;
}

header, form{
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap;
}

header > *{
    flex-basis: 100%;
    text-align: center;
}

form input, form button{
    padding: 0.4rem;
    /* border: none; */
    background: white;
}

.todos-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.todos-list{
    min-width: 40%;
    list-style: none;
}
.todos-list div {
    margin: 5px auto;
    background: white;
    color: #000000;
    display: flex;
    font-size: 1.2rem;
    padding: 0.3rem;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}

.todos-list div li {
    flex: 1;
}


.todos-list div li + button{
    background-color: green;
    margin-right: 10px;
}

.todos-list div button:last-child{
    background-color: red;
}

form input, form button{
    padding: 0.4rem;
}

.filters{
    margin-bottom: 2rem;
} 



.completed li{
    text-decoration: line-through;
}
.fa-trash,
.fa-check{
    pointer-events: none;
}


